<label for="{{elementId}}-text-field">{{label}}</label>
<div class="row">
  <div class="col-sm-6">
    <input
      type="text"
      class="form-control"
      id="{{elementId}}-text-field"
      value={{value}}
      oninput={{action onInput value="currentTarget.value"}}>
  </div>
</div>
